<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="nav">
        <div class="nav_home"><a  class="link" href="#id_intro" >HOME</a> </div>
        <div class="nav_about"><a class="link" href="#id_about">ABOUT</a> </div>
        <div class="nav_skills"><a class="link" href="#id_skills">SKILL</a></div>
        <div class="nav_project"><a  class="link" href="#id_project">PROJECTS</a> </div>
        <div class="nav_contact"><a class="link" href="#id_contact">CONTACT</a> </div>

</div>
    <div id="id_intro" class="intro">
        <div class="pic"><img src='WhatsApp Image 2025-09-04 at 1.47.35 PM.jpeg' alt="picture"></div>
        <div class="name"><h2>Hi, I am Neetu</h2>

        <h4>Web Developer | Student | Designer</h4>

        <button class="btn btn-outline-info" id="cv"><a class="see" href="/portfolio/resume">See Resume</a> </button></div>
         
        
    </div>
    <div id="id_about" class="about">
        <div class="about_me"><h3>About Me</h3>
        <p>I'm a web developer with passion for creating visually appealing and user-friendly websites. I have a strong foundation in front-end development and a keep eye for details.</p></div>
        <div class="about_pic" >Currently pursuing my Bachelor's in Technology at <i>Indira Gandhi Delhi technical university, Delhi</i></div>
    </div>
    <div id="id_skills" class="skills"><h3>SKILLS</h3>
        <div class="innerskill"> 
    <div class="skill_name"><ul> 
        <li>HTML</li>
        <li>CSS</li>
        <li>JAVASCRIPT</li>
        <li>GIT/GITHUB</li>
        <li>SQL / MongoDB</li>
        
    </ul></div> 
    <div class="skill_name"><ul>
         
        <li>NODE.JS</li>
        <li>EXPRESS</li>
        <li>EJS</li>
        <li>OOPS</li>
        <li>REST APIs</li>
    </ul></div></div>
</div>
    <div id="id_project" class="project"> <h3> PROJECTS</h3>
       <div class="project_info">
           <div class="pro"><img src="/Screenshot (573).png" alt="simon"><div> <p>Simon-says game</p><br><a class="link" href="/portfolio/simon">view</a>
             </div></div>
             <div class="pro"><img src="/Screenshot (574).png" alt="portfolio"><div> <p>My Portfolio</p><br><a class="link" href="/portfolio">view</a>
             </div></div>
          
        </div>
     </div>
    <div id="id_contact" class="contact"><h3>CONTACT ME</h3>
       <div class="contact_info"> 
        <div  id="git"><i class="fa-brands fa-github"></i><a class="link" href="https://github.com/tNeetu97"> @ tNeetu97</a></div>
        <div id="linkdin"><i class="fa-brands fa-linkedin"></i><a class="link" href="https://www.linkedin.com/in/neetu-verma-304a85332/">@ Neetu Verma</a></div>
        <div id="mail" class="link"> <i class="fa-solid fa-envelope"></i>neetuv9718840@gamil.com</div>
    </div></div>
    <footer><div class="terminal"> </div> <br><br></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
     
     
    
</body>
</html>